#embed-facebook-like-edit-form .form-item-send {
  float: left;
  margin-top: 1em;
  margin-bottom: 3em;
}

#embed-facebook-like-edit-form .form-item-faces {
  float: left;
  margin: 1em 1.5em;
}

#embed-facebook-like-edit-form .form-item-send label,
#embed-facebook-like-edit-form .form-item-faces label {
  font-weight: bold;
}

